@import url('../css/default.css');

.headerback{
  background-color: lightcyan;
  box-shadow: inset 0 12px 12px -5px rgba(0, 0, 0, 0.5), inset 0 -12px 12px -5px rgba(0, 0, 0, 0.5);
  .header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      display: flex;
      align-items: center;
      gap: 10px;
      
      color: darkorchid;
      font-weight: 700;
      font-size: 35px;
      cursor: pointer;
      img{
        width: 50px;
      }
    }
    .menu{
      display: flex;
      gap: 25px;
      a{
        color: darkmagenta;
        text-decoration: none;
        font-weight: 700px;
        font-size: 20px;
      }
      a:hover{
        text-decoration: underline;
      }
      @media (max-width: 500px){
        display: none;
      }
    }
    button{
      background-color: darkorchid;
      color: white;
      @media (max-width: 500px){
        display: none;
      }
    }
    button:hover{
      background-color: darkmagenta;
    }
    
    .dropdown{
      display: none;
      @media (max-width: 500px){
        display: block;
        cursor: pointer;
        &-icon{
          width: 35px;
        }
        &-content{
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 250px;
          height: 100vh;
          z-index: 1;
          background-color: white;
          padding: 20px;
          .dropdown-header{ 
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-logo{
              width: 50px;
            }
            &-closeBtn{
              width: 30px;
            }
          }
          .dropdown-menu{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          #dropdown-loginBtn{
            display: block;
            margin-top: 20px;
          }
        }
      }
      
    }

  }
}

.sec1back{
  .sec1 {
    padding: 15px 0;
    h1{
      text-align: center;
      font-size: 30px;
      padding: 10px 0;
      @media (max-width: 500px){
        font-size: 24px;
      }
      
    }
    button{
      padding: 24px 50px;
      background-color: darkorchid;
      color: white;
      @media (max-width: 500px){
        padding: 12px 25px;
      }
    }
    @media (hover: hover) {
      button:hover{
        background-color: darkmagenta;
      }
    }
    @media (hover: none) {
      button:active{
        background-color: darkmagenta;
      }
    }
    .timer{
      margin-top: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media (max-width: 500px){
        flex-direction: column;
      }
      .resultdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #result{
          font-size: 100px;
          color: darkmagenta;
          @media (max-width: 500px){
            font-size: 50px;
            margin: 20px 0;
          }
        }
        .minuts{
          font-size: 30px;
          color: darkmagenta;
        }
      }
    }
    .fix{
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 50px;
      @media (max-width: 500px){
        margin-top: 30px;
      }
    }
    
    h2{
      margin-top: 10px;
      text-align: center;
      font-size: 25px;
      span{
       font-size: 40px;
      }
    }
    .abouttext{
      line-height: 140%;
      font-size: 20px;
      span{
        font-size: 25px;
        font-style: italic;  
      }
      a{
        font-size: 25px;
        font-style: italic;  
      }
    }
  }
}

.ulcondition{
  padding: 10px 0 10px 30px;
}


.footerback{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: lightcyan;
  box-shadow: inset 0 15px 15px -5px rgba(0, 0, 0, 0.5), inset 0 -15px 15px -5px rgba(0, 0, 0, 0.5);
  .footer{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    @media (max-width: 500px){
      padding: 25px 0;
    }
    .logo{
      display: flex;
      align-items: center;
      gap: 10px;  
      cursor: pointer;
      &-content{
        display: flex;
        align-items: center;
        gap: 5px;
        div{   
          color: darkorchid;
          font-weight: 700;
          font-size: 35px;
        }
      }
      img{
        width: 50px;
      }
      
      @media (max-width: 500px){
        flex-direction: column;
      }
      .mobile-contacts {
        display: none;
        @media (max-width: 500px){
          display: flex;
          align-items: center;
          gap: 5px;
          img{
            width: 40px;
          }
        }
      }
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
      a{
        color: darkmagenta;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .contacts {
      h3{
        color: darkmagenta;
      }
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      .tg{
        width: 35px;
      }
      @media (max-width: 500px){
        display: none;
      }
    }
  }
}